.footer{
  height: 90px;
  width: 100%;
  background: black;
  .footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100px;
    margin: 0 auto;
    color: grey;
    .icons{
      list-style: none;
      display: flex;
      width: 500px;
      justify-content: space-between;
      align-items: center;
    }
  }
}
@media (max-width:880px) {
  .footer-content{
    flex-direction: column;
    padding: 40px;
  }
  .footer{
    height:150px;
  }
  p{
    padding: 15px;
  }

}
