.social{
  background: white;
  height: 100px;
  .sc-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100px;
    margin: 0 auto;
    .icons{
      list-style: none;
      display: flex;
      width: 500px;
      justify-content: space-between;
      align-items: center;
  }
}
}
@media(max-width:880px) {
  .sc-content{
    flex-direction: column;
    line-height: 1.5;
  }
.social{
  height: 250px;
}
.sc-text{
  padding: 5px;
}
.icons{
  transform: scale(0.8);
}
}
