.social{
  background: white;
  height: 100px;
  .sc-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100px;
    margin: 0 auto;
    .icons{
      list-style: none;
      display: flex;
      width: 500px;
      justify-content: space-between;
      align-items: center;
      li:nth-of-type(5){
        color: #e27866;
        opacity: 0.653;
      }

    }
  }
}
